.binaryBox{
    display: flex; 
    justify-content: space-around;
}
.binaryBoxSelected{
    display: flex; 
    justify-content: space-around;
    background-color: rgba(255,0,0,0.7)
}
.binary{
    padding: 1%;
    border: solid 1px;
    margin: 1px; 
}
.binarySelected{
    display: flex; 
    padding: 1%;
    border: solid 1px;
    margin: 1px;
    align-items: center;
    flex-grow: 1;
}

.mine {
    width: 100%;
    
}

.battleship {
    width: 100%;
    align-self: center;
}