.battleBitsContainer{
    background-color: gray;
}
.binaryBox{
    width: 90vw;
    display: flex; 
    align-self: center;
    margin-left: 5vw;
}
.binaryBoxSelected{
    margin: 3px;
    width: 90vw; 
    margin-left: 5vw;
    background-color: rgba(255,0,0,0.8);
}
.binary{
    padding: 1%;
    border: solid 1px;
    margin: 1px;
}

.mine {
    width: 50px;
    height: 50px;
}
.binaryHelp{
    margin-left: 5vw;
    background-color: grey;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    padding: 1px;
    margin: 1px;
    text-align: center;
    width: 90px;
}
.footer{
    height: 20vh;
}
.battleship {
    width: 50px;
    height: 50px;
    align-self: center;
}
.battleInputContainer{
    display: flex;
    position: fixed;
    width: 50vw;
    color: red;
    top: 90vh; 
    left: 25vw;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(32, 255, 3, 0.507);
}
.inputBox{
    flex: 3;
    width: 30vw;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    outline: none;
    border:none;
    background-color: rgba(0,0,0,.6);
    color: red; 
}
.inputBtn{
    margin:1px;
    border: none;
    flex: 1;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(0,0,0,.6);
    outline: none;
    color: red;
}
